.app
  max-width 960px
  margin 0 auto
    
.thumbnail
	
	align-items center
	background-color #D8D8D8
	display flex
	font-size 12px
	height 150px
	justify-content center
  margin-bottom 3%
	overflow hidden
	padding 4px
	width 150px 

.pure-form
	margin-top 6%
    
    
    