* {
  font-family: "Proxima Nova";
}
.app {
  max-width: 960px;
  margin: 0 auto;
}
.thumbnail {
  align-items: center;
  background-color: #d8d8d8;
  display: flex;
  font-size: 12px;
  height: 150px;
  overflow: hidden;
  padding: 4px;
  width: 150px;
}
.thumbnail justify-content center {
  margin-bottom: 3%;
}
.pure-form {
  margin-top: 6%;
}
.search-form {
  margin-top: 30px;
}
@media only screen and (max-width: 650px) {
  .search-form {
    display: none;
  }
}
